:root {
  --capri: #00bfff;
}

#footer {
  height: 250px;
  width: 100%;
  background-color: var(--bg-color);
}

.foot-social-cont {
  display: flex;
  justify-content: center;
  font-size: 40px;
  gap: 30px;
  padding-top: 20px;
}

.foot-facebook {
  border: 2px solid var(--tangblue);
  border-radius: 5px;
  padding: 4px;
  color: #0059cf;
  transition: 0.3s ease-in-out;
}

.foot-facebook:hover {
  background-color: #0059cf;
  color: whitesmoke;
  transform: scale(1.1) translateY(-5px);
}

.foot-linkedIn {
  border: 2px solid var(--tangblue);
  border-radius: 5px;
  padding: 4px;
  color: #0059cf;
  transition: 0.3s ease-in-out;
}

.foot-linkedIn:hover {
  background-color: #0059cf;
  color: whitesmoke;
  transform: scale(1.1) translateY(-5px);
}

.foot-gitHub {
  border: 2px solid var(--tangblue);
  border-radius: 5px;
  padding: 4px;
  color: #100c08;
  transition: 0.3s ease-in-out;
}

.foot-gitHub:hover {
  background-color: #100c08;
  color: whitesmoke;
  transform: scale(1.1) translateY(-5px);
}

.foot-instagram {
  border: 2px solid var(--tangblue);
  border-radius: 5px;
  padding: 4px;
  color: #ff00cc;
  transition: 0.3s ease-in-out;
}

.foot-instagram:hover {
  background-color: #ff00cc;
  color: whitesmoke;
  transform: scale(1.1) translateY(-5px);
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 40px;
}

.foot-faq a {
  color: var(--tangblue);
}

.foot-faq a:hover {
  border-bottom: 2px solid #0059cf;
  color: #0059cf;
}

.foot-projects a {
  color: var(--tangblue);
}

.foot-projects a:hover {
  border-bottom: 2px solid #0059cf;
  color: #0059cf;
}

.foot-contact a {
  color: var(--tangblue);
}

.foot-contact a:hover {
  border-bottom: 2px solid #0059cf;
  color: #0059cf;
}

.foot-privacyPolicy a {
  color: var(--tangblue);
}

.foot-privacyPolicy a:hover {
  border-bottom: 2px solid #0059cf;
  color: #0059cf;
}

.copy-rights-cont {
  display: flex;
  justify-content: center;
  padding-top: 4.5rem;
  color: var(--text-color);
}

@-webkit-keyframes fadeInDown {
  from {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }
  @keyframes fadeInDown {
  from {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }
  .copy-rights-cont, .foot-social-cont, .foot-faq, .foot-projects, .foot-privacyPolicy, .foot-contact {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

@media only screen and (max-width: 600px) {
  #footer {
    min-height: 380px;
    background-color: var(--bg-color);
  }
  .link {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .foot-faq a {
    color: var(--tangblue);
  }
  .foot-privacyPolicy a {
    color: var(--tangblue);
  }
  .foot-projects a {
    color: var(--tangblue);
  }
  .foot-contact a {
    color: var(--tangblue);
  }
  .copy-rights-cont {
    padding-bottom: 2rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1325px) {
  #footer {
    width: 93%;
    float: right;
  }
}
