@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Fugaz+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --aliceblue: aliceblue;
  --bg-black: #1B1B1B;
}

#root {
  font-family: "Poppins", sans-serif;
}

.nav-desk li a.active {
  background-color: var(--tangblue);
  color: var(--aliceblue);
}


body {
  overflow-x: hidden;
}

#header-cont {
  width: 100vw;
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: var(--bg-color);
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: fixed;
  top: 0;
  z-index: 3;
}

.logo {
  padding: 23px;
  font-family: "Fugaz One", sans-serif;
}

.logo a {
  color: var(--tangblue);
  position: relative;
  left: 7rem;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: bold;
}

.nav-cont-desk {
  display: flex;
  justify-content: center;
}

.nav-desk {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1rem;
  gap: 80px;
  padding: 10px;
  width: 35%;
}

.nav-desk li {
  list-style: none;
}

.nav-desk li a {
  font-size: 18px;
  color: var(--tangblue);
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.nav-desk li a:hover {
  background-color: var(--tangblue);
  color: aliceblue;
}

.nav-cont {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1.6rem;
  gap: 80px;
}

.nav li {
  list-style: none;
}

.nav li a {
  font-size: 18px;
  color: var(--tangblue);
}

.mode-cont {
  position: absolute;
  right: 27rem;
  font-size: 25px;
  top: 1.7rem;
  color: var(--tangblue);
  cursor: pointer;
}

.download-cont {
  position: absolute;
  right: 7rem;
  top: 0.8rem;
  border: none;
}

.download-cont button {
  border: 2px solid var(--tangblue);
  padding: 12px;
  width: 210px;
  background-color: transparent;
  color: var(--tangblue);
  border-radius: 6px;
  font-size: 16px;
  letter-spacing: 1.7px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}

.download-cont button:hover {
  background-color: var(--tangblue);
  color: whitesmoke;
}

.down-icon {
  font-size: 20px;
  position: relative;
  right: 7px;
  top: 3px;
}

.downIcon-cont {
  position: absolute;
  opacity: 0;
  display: none;
}

.menu-cont {
  position: absolute;
  opacity: 0;
  display: none;
}

.logo-tab {
  display: none;
}

.nav-cont-tab {
  display: none;
}
.mode-cont-tab {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 55px;
    border-radius: 0 0 10px 0;
    width: 20%;
    padding: 20px;
    position: absolute;
    left: 0;
    width: 35%;
    background-color: var(--bg-color);
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .nav li {
    padding-left: 10px;
  }
  .nav li a {
    color: var(--tangblue);
  }
  .nav li a.active {
    border-bottom: 2px solid var(--aliceblue);
    color: var(--aliceblue);
  }
  .download-cont {
    display: none;
  }
  .downIcon-cont {
    opacity: 1;
    display: flex;
    position: absolute;
    right: 30px;
    top: 11px;
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .down-icon {
    position: relative;
    display: grid;
    align-content: center;
    font-size: 30px;
    color: var(--tangblue);
  }
  .menu-cont {
    display: flex;
    color: var(--tangblue);
    position: absolute;
    left: 30px;
    top: 19.5px;
    height: 40px;
    width: 40px;
    transition: 0.3s ease-in-out;
  }
  .menu-icon {
    font-size: 25px;
    position: relative;
    top: 7.1px;
    left: 7px;
  }
  .logo {
    width: 100%;
    position: relative;
    top: 2px;
    left: 2px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .nav-desk {
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: -300px;
    width: 20%;
    padding: 20px;
    position: absolute;
    left: 0;
    width: 35%;
  }
  #root {
    overflow-x: hidden;
  }
  .header-cont {
    background-color: #fefefa;
    opacity: 0.9;
    width: 100vw;
    backdrop-filter: blur(2px) saturate(200%);
    -webkit-backdrop-filter: blur(2px) saturate(200%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: fixed;
    top: 0;
  }
  .mode-cont {
    position: absolute;
    right: 20%;
    font-size: 20px;
  }
  .logo-tab {
    display: none;
  }
  .nav-cont-tab {
    display: none;
  }
  .mode-cont-tab {
    display: none;
  }
}

@media only screen and (max-width: 1325px) and (min-width: 900px) {  
  #header-cont {
    width: 7%;
    height: 100%;
  }
  .logo a {
    display: none;
  }
  .nav-desk {
    display: none;
  }
  .download-cont {
    display: none;
  }
  .logo-tab {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .logo-tab a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid rgb(21, 21, 230);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: var(--tangblue);
  }
  .nav-cont-tab {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding-top: 60px;
  }
  .nav-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .nav-tab li {
    list-style: none;
  }
  .nav-tab li a {
    color: var(--tangblue);
  }
  .downIcon-cont {
    opacity: 1;
    z-index: 3;
    display: flex;
    justify-content: center;
    position: relative;
    left: 0.4rem;
    top: 3rem;
  }
  .down-icon {
    font-size: 30px;
    color: var(--tangblue);
  }
  .mode-cont-tab {
    opacity: 1;
    display: flex;
    justify-content: center;
    z-index: 3;
    padding-top: 2.5rem;
    font-size: 23px;
    color: var(--tangblue);
  }
  .menu-cont {
    display: none;
  }
}

@-webkit-keyframes fadeInDown {
  from {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }
  @keyframes fadeInDown {
  from {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }
  .logo, .mode-cont, .download-cont, .nav-desk, .downIcon-cont, .menu-cont, .nav-cont-tab, .mode-cont-tab, .logo-tab {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

@media only screen and (min-width: 601px) and (max-width: 899px) {
  #header-cont {
    width: 100%;
    height: 65px;
  }
  .logo a {
    display: none;
  }
  .nav-desk {
    display: none;
  }
  .download-cont {
    display: none;
  }
  .logo-tab {
    display: flex;
    justify-content: start;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 35px;
    position: relative;
    bottom: 35px;
  }
  .logo-tab a {
    color: var(--tangblue);
  }
  .nav-cont-tab {
    display: flex;
    justify-content: center;
    font-size: 30px;
    position: relative;
    bottom: 5rem;
  }
  .nav-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }
    .nav-tab li {
    list-style: none;
  }
  .nav-tab li a {
    color: var(--tangblue);
  }
  .downIcon-cont {
    display: flex;
    justify-content: end;
    opacity: 1;
    position: absolute;
    right: 2rem;
    top: 0.8rem;
  }
  .down-icon {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--tangblue);
  }
  .mode-cont {
    font-size: 20px;
    display: flex;
    justify-content: end;
    position: absolute;
    right: 6rem;
    top: 1.3rem;
  }
  .mode-cont-tab {
    display: none;
  }
}
