
:root {
  --black: rgb(0,0,0,0.77);
}

#home {
  background-color: #fff;
  position: relative;
  padding-top: 80px;
}

.profile-cont {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

.profile-cont img {
  border-radius: 50%;
  border: 3px solid var(--electricIndigo);
  padding: 10px;
  background-color: var(--electricIndigo);
}

.profile-name {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.profile-name h1 {
  letter-spacing: 1.5px;
  font-size: 40px;
  color: var(--black);
}

.vignesh {
  color: var(--electricIndigo);
}

.designation {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.designation h1 {
  letter-spacing: 4px;
  text-align: center;
  color: var(--electricIndigo);
}

.social-media-cont {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 40px;
  gap: 30px;
  padding-top: 10px;
}

.facebook {
  border-radius: 50%;
  padding: 4px;
  color: #0059cf;
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(193, 195, 202, 0.23);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.facebook:hover {
  background-color: #0059cf;
  color: white;
  transform: scale(1.2) translateY(-5px);
}

.linkedIn {
  border-radius: 50%;
  padding: 4px;
  color: #0059cf;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  border: 1px solid #E7F0DC;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.linkedIn:hover {
  background-color: #0059cf;
  color: white;
  transform: scale(1.2) translateY(-5px);
}

.instagram {
  border-radius: 50%;
  padding: 4px;
  color: #ff00cc;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  border: 1px solid #E7F0DC;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.instagram:hover {
  background-color: #ff00cc;
  color: whitesmoke;
  transform: scale(1.2) translateY(-5px);
}

.gitHub {
  border-radius: 50%;
  padding: 4px;
  color: #100c08;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  border: 1px solid #E7F0DC;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.gitHub:hover {
  background-color: #100c08;
  color: whitesmoke;
  transform: scale(1.2) translateY(-5px);
}

.home-intro {
  text-align: center;
  padding: 14px 10px 0 10px;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: var(--black);
}

.p-name {
  color: var(--electricIndigo);
  font-weight: bold;
}

.p-designation {
  color: var(--electricIndigo);
  font-weight: bold;
}

.p-react {
  color: var(--electricIndigo);
  font-weight: bold;
}

.home-down-cont {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-bottom: 70px;
}

.home-down {
  padding: 12px;
  width: 210px;
  color: var(--electricIndigo);
  border-radius: 6px;
  font-size: 16px;
  letter-spacing: 1.7px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(136, 130, 130, 0.23);
  border: 1px solid rgba(119, 117, 117, 0.125);
}

.home-down:hover {
  background-color: var(--electricIndigo);
  color: #fffafa;
}

@media only screen and (max-width: 600px) {
  .profile-cont img {
    width: 300px;
    height: 300px;
  }
  #home {
    position: relative;
  }
  .home-intro {
    font-size: 16px;
  }
  .home-down-cont {
    padding-bottom: 100px;
  }
  .designation {
    font-size: 14px;
  }
  .profile-name h1 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1325px) {
  #home {
    width: 93%;
    float: right;
  }
}
