
#skills {
    min-height: 860px;
    background-color: var(--bg-color);
}

.skills-head {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 45px;
    color: var(--text-color);
}

.skill-logo-cont {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.html-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(193, 195, 202, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: var(--box-shadow);
}

.swift-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(193, 195, 202, 0.23);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  width: 200px;
  height: 200px;
  box-shadow: var(--box-shadow);
}

.swift-cont img {
  width: 150px;
  height: 150px;
}

.html {
    height: 200px;
    width: 200px;
}

.js {
    height: 150px;
    width: 150px;
}

.remotion-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(193, 195, 202, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: var(--box-shadow);
}

.remotion {
    height: 210px;
    width: 210px;
    position: relative;
    bottom: 3px;
}

.overlay {
    position: absolute; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    color: #f1f1f1; 
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    transition: 0.4s ease-in-out;
  }

  .html-cont:hover .overlay {
    opacity: 1;
  }

  .remotion-cont:hover .overlay {
    opacity: 1;
  }

  .swift-cont:hover .overlay {
    opacity: 1;
  }

  @-webkit-keyframes fadeInDown {
    from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    }
    @keyframes fadeInDown {
    from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    }
    .html-cont, .skills-head, .skill-logo-cont, .remotion-cont {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }

  @media only screen and (max-width: 600px) {
    .skills-head {
        font-size: 30px;
    }
  }

  @media only screen and (min-width: 900px) and (max-width: 1325px) {
    #skills {
        width: 93%;
      float: right;
    }
  }